.Header {
    text-align: center;
  
    align-items: center;
    position: relative;
    z-index: 1;
    justify-content: center;
  
  }
  

  

  
  .Header-header {
    background-image: linear-gradient(#282c34a6, #282c3400);
    height: 12.5vh;
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    color: white;

  }
  .Header p {
    margin-right: 25vw;
  }
  .Header ul {
    align-items: center;
    display: flex;
    list-style: none;
    padding: 0;
  
    gap: 2vw;
  }
  
  .Header ul li {
    margin: 0 1vw;
  
  }
  
  .Header ul li a {
    text-decoration: none;
    color: white;
    background: none;
    padding: 1vh 2vw;
    border-radius: 2vh;
    transition: background 0.3s;
  }
  
  .Header ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  
 