.TopPage {
  text-align: left;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;

}

.LeftText, .RightIMG {
  width: 50%;
  height: 100%;
  padding: 5vh 5vw;
  box-sizing: border-box; 
}
.LeftText h1 {
  font-size: 4vh;

}
.RightIMG{
  text-align: center;
}
.RightIMG h1 {
  font-size: 1vh;
  color: white;
  margin: 0;
  padding: 0;
}

.RightIMG img {
  transform: scaleX(-1);
  height: 60vh;
  width: auto;
}